

.markdown-window {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    height: 800px;
    min-height: 500px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
  }

  .markdown-editor {
    resize: none;
    width: 100%;
    height: 100vh;
    padding: "10px";
    border: "10px solid #ccc"
  }

  .markdown-title {
    width: 100%;
    user-select: none;
  }